<!DOCTYPE html>
<html>
<head>
    <title>Login - PDF Converter</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="relative min-h-screen bg-gradient-to-tr from-pink-200 via-purple-200 to-blue-200 min-h-screen bg-gradient-to-b min-h-screen flex items-center justify-center">
  <div class="absolute inset-0 -z-10 overflow-hidden">
    <div class="absolute left-1/2 top-0 -translate-x-1/2 blur-3xl w-[1000px] h-[800px] opacity-60"
         style="background: radial-gradient(circle at center, #fbcfe8 20%, #c4b5fd 40%, #a5b4fc 50%)">
    </div>
  </div>
    <div class="max-w-md w-full bg-white rounded-lg shadow-md p-6">
        <h2 class="text-2xl font-bold text-center text-gray-800  mb-6">Login</h2>
        {% if messages %}
            {% for message in messages %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2">Username:</label>
                <input type="text" name="username" required class="w-full px-3 py-2 border border-gray-300 rounded-md">
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2">Password:</label>
                <input type="password" name="password" required class="w-full px-3 py-2 border border-gray-300 rounded-md">
            </div>
            <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">
                Login
            </button>
        </form>
        <p class="text-center mt-4 text-gray-800">
            "No account? No problem! 
            <a href="/register/" class="text-blue-500 hover:underline">Sign up</a>
        </p>
    </div>
</body>
</html>